{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="container-fluid">
    <h1 class="h3 mb-3 font-weight-normal">Connecte toi !</h1>


    <form method="post" class="form-inline">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}



    <label class="sr-only" for="inputEmail">Email</label>
    <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
            <div class="input-group-text">@</div>
        </div>
    <input class="form-control" type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="DarthVador@empire.com" required autofocus>
    </div>

    <label class="sr-only" for="inputPassword">Password</label>
    <input type="password" class="form-control mb-2 mr-sm-2" name="password" id="inputPassword" placeholder="Mot de passe" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


    <div class="form-check mb-2 mr-sm-2">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="_remember_me"> Remember me
        </label>
    </div>


    <button class="btn btn-primary mb-2" type="submit">
        Connection
    </button>
</form>
    </div><br>

    <div class="container-fluid">
    <h1 class="h3 mb-3 font-weight-normal">Pas encore inscrit ?!</h1>
    <a href="{{ path('app_register') }}">Go inscription !</a>
    </div>

{% endblock %}
